$primary-color:        #925ADD;
$primary-color-dark:   #293543;
$primary-color-gray:   #556376;
$secondary-btn-color:  #98D3E3;
$secondary-color:      #DEF3EF;


$primary-color-text:   #FFFFFF;
$accent-color:         #795548;
$primary-text-color:   #212121;
$divider-color:        #BDBDBD;