$primary-color:        #925ADD;
$primary-color-dark:   #293543;
$primary-color-gray:   #556376;
$secondary-btn-color:  #98D3E3;
$secondary-color:      #F0FEFF;
$border-color:         #DEF3EF;
$card-color:           #F2F6FF;

$primary-color-text:   #FFFFFF;
$accent-color:         #795548;
$primary-text-color:   #212121;
$divider-color:        #BDBDBD;