@charset "UTF-8";
/*
----------------------------
Fonts
-----------------------------
*/

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-Thin.ttf') format('truetype'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight : 100;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-ThinItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight : 100;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight : 200;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2');
    font-weight : 200;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight : 300;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-LightItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff'),
        url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
    font-weight : 300;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight : 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-RegularItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-RegularItalic.woff') format('woff'),
        url('../fonts/Montserrat-RegularItalic.woff2') format('woff2');
    font-weight : 400;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight : 500;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-MediumItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('../fonts/Montserrat-MediumItalic.woff2') format('woff2');
    font-weight : 500;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight : 600;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight : 600;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight : 700;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-BoldItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
    font-weight : 700;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight : 800;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2');
    font-weight : 800;
    font-display: swap;
    font-style  : italic;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight : 900;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src        : url('../fonts/Montserrat-BlackItalic.ttf') format('truetype'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('../fonts/Montserrat-BlackItalic.woff2') format('woff2');
    font-weight : 900;
    font-display: swap;
    font-style  : italic;
}