.sectionPartners {
    padding: 32px 0 ;
    .sectionInner {
        display: flex;
        flex-direction: column;

    }
    .sectionPartners_title {
        @include MontserratSemiBold(32);
        line-height: 40px;
        color: $primary-color-dark;
        margin: 0 0 32px 0;
    }


    .swiper {
        width: 100%;
        height: 100px;
        &-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                max-width: 230px;
            }
        }
    }
}