/*

   ПРИМЕР КАК ДЕЛАТЬ WEBP И AVIF ФОНЫ

   .no-webplossy .sectionBanner,
   .no-avif .sectionBanner {
      background: transparent url(../img/png/bannerBg.png) 50% 50%/cover no-repeat;
   }
   .webplossy .sectionBanner{
      background: transparent url(../img/webp/bannerBg.webp) 50% 50%/cover no-repeat;
   }
   .avif .sectionBanner {
      background: transparent url(../img/avif/bannerBg.avif) 50% 50%/cover no-repeat;
   }
*/

@import 'color.scss';
@import 'fonts.scss';
@import 'general.scss';
@import "sectionHeader.scss";
@import "sectionBanner.scss";
@import "sectionPartners.scss";
@import "sectionTextAboutUs.scss";
@import "sectionAbout.scss";
@import "sectionWhyUs.scss";
@import "sectionActivities.scss";
@import "sectionHowLong.scss";
@import "sectionSecondBanner.scss";
@import "sectionPromotions.scss";
@import "sectionAllPromotions.scss";
@import "sectionForm.scss";
@import "sectionFooter.scss";
// @import 'mobMenu.scss';
// @import 'sectionHeader.scss';
// @import 'sectionBanner.scss';
// @import 'sectionModels.scss';
// @import 'sectionBenefits.scss';
// @import 'sectionPeculiarities.scss';
// @import 'sectionAboutUs.scss';
// @import 'sectionWantSee.scss';
// @import 'sectionTable.scss';
// @import 'sectionWhyUs.scss';
// @import 'sectionGetOffer.scss';
// @import 'sectionMap.scss';
// @import 'sectionFooter.scss';
// @import 'sectionModels_new.scss';
